{% set title = configuration + ' löschen' %}
{% set back_to_main = True %}
<a style="float: right" href="/{{fc}}/cs/{{configuration}}">Löschen abbrechen</a>
{% extends "layout.html" %}

{% block body %}
    <h1>Konfiguration {{configuration}} löschen?</h1>
    <p>Achtung, dadurch werden alle Daten dieser Konfiguration unwiderruflich gelöscht!</p>
    <form action="/{{fc}}/cs" method="post">
        <input name="delete configuration" value="{{configuration}}" hidden>
        <input type="submit" value="Löschen bestätigen">
    </form>
{% endblock %}
