{% set title = configuration + ' bearbeiten' %}
{% set back_to_main = True %}
<a style="float: right" href="/{{fc}}/cs/{{configuration}}">Bearbeiten abbrechen</a>
{% extends "layout.html" %}

{% block body %}
    <h1>{{configuration}} Konfiguration</h1>
    <form action="/{{fc}}/cs/{{configuration}}" method="post">
        <label>{{base_locales["configuration name"]}}: <input name="configuration name" type="text" value="{{configuration}}" disabled></label><br/>
        <label>{{base_locales["Script name"]}}: 
            <select name="Script name" required>
                {{ script_options|safe() }}
            </select>
        </label><br/>
        <label>{{base_locales["number of runs to list"]}}: <input name="number of runs to list" type="number" value="{{number_of_runs_to_list}}" required></label><br/>
        {{ config_content|safe() }}
        <br><br>
        <input type="submit" value="Speichern">
    </form>
{% endblock %}
