div {
    width: 500px;
    font-family: Calibri, Verdana, sans-serif;
    margin: auto;
}
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}