body,
input,
select,
textarea,
button,
div {
  font-size: large;
  font-family: Calibri, Verdana, sans-serif;
  margin: auto;
}
@media only screen and (min-width: 768px) {
  div {width: 768px; margin: auto;}
}
details > summary {
  padding: 4px;
  width: 200px;
  background-color: #eeeeee;
  border: none;
  box-shadow: 1px 1px 2px #bbbbbb;
  cursor: pointer;
}
details > p {
  background-color: #eeeeee;
  padding: 4px;
  margin: 0;
  box-shadow: 1px 1px 2px #bbbbbb;
}